.article-container{
    display: flex;
    align-items: center;
    height: 17px;
}
.article-link{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 80%;
}
.action-container{
    width: 20%;
}
.action-container button{
    float: right;
}
.article-items{
    background-color:white;
    padding: 0!important;
    margin-top: 18px;
}
