.article-detail-content-container {
    width: 100%;
    overflow-y: hidden !important;
    position: relative;
}

.article-detail-content {
    width: 100%;
    margin: 0;
    border: 0;
    position: relative;
}