<div *ngIf="type == 'SearchedArticleList'">
    <span id="btnMore" class="fd-has-margin-left-small fd-has-float-right sap-icon--overflow sap-icon--m icon-container fd-has-color-action-3" (click)="onMore()"></span>
    <span id="btnCopy" class="fd-has-margin-left-small fd-has-float-right sap-icon--copy sap-icon--m icon-container fd-has-color-action-3" (click)="copyArticleLink()"></span>
</div>
<div *ngIf="type == 'LinkedArticleList'">
    <span id="btnRemove" class="fd-has-margin-left-small fd-has-float-right sap-icon--delete sap-icon--m icon-container fd-has-color-action-3" (click)="removeLinkedArticle(article)"></span>
</div>