<div *ngIf="type == 'SearchedArticleList'">
    <span class="fd-has-margin-left-small fd-has-float-right sap-icon--overflow sap-icon--m icon-container" (click)="onMore()"></span>
    <span class="fd-has-margin-left-small fd-has-float-right sap-icon--copy sap-icon--m icon-container" (click)="copyArticleLink()"></span>
</div>
<div *ngIf="type == 'LinkedArticleList'">
    <span class="fd-has-margin-left-small fd-has-float-right sap-icon--delete sap-icon--m icon-container" (click)="removeLinkedArticle(article)"></span>
</div>