<div class="fd-has-padding-tiny">
  <div class="search-input">
  <fd-input-group #searchinput 
    [button]="true" 
    [placeholder]="'Enter words to search...'" 
    [glyph]="'search'"
    [placement]="'after'" 
    (addOnButtonClicked)="search(searchinput.inputText)" 
    (keyup.Enter)="search(searchinput.inputText)"
  ></fd-input-group>
  </div>
  <br>
  <div [attr.aria-busy]="busy$ | async">
      <div *ngIf="isInit$ | async; else showResultBox">
        <app-kb-suggested-list></app-kb-suggested-list>
        <app-kb-linked-list></app-kb-linked-list>
      </div>

    <ng-template #showResultBox>
      <fd-loading-spinner [loading]="busy$ | async"></fd-loading-spinner>
      <div *ngIf="notFound$ | async; else showResultList">
          No articles found.
      </div>
      <ng-template #showResultList>
        <div class="search-result">
        <p class="search-result">{{totalCount$ | async}} results
            <a href="app-kb-suggested-list">Back to Suggestions</a>
        </p>
        </div>
      </ng-template>
      <div
        fdInfiniteScroll 
        (onScrollAction)="loadMore()" 
        [scrollPercent]="98" 
        class="infinite-scroll-area">
        <kb-article-list [articles]="articles$ | async"></kb-article-list>
      </div>
    </ng-template>
  </div>

</div>