<div class="fd-has-padding-tiny">
  <fd-input-group #searchinput 
    [button]="true" 
    [placeholder]="'Type some text...'" 
    [glyph]="'search'"
    [placement]="'after'" 
    (addOnButtonClicked)="search(searchinput.inputText)" 
    (keyup.Enter)="search(searchinput.inputText)"
  ></fd-input-group>
  <br>
  <div [attr.aria-busy]="busy$ | async">
    <p *ngIf="isInit$ | async; else showResultBox">
      Enter keywords to search for knowledge articles.
    </p>
    <ng-template #showResultBox>
      <fd-loading-spinner [loading]="busy$ | async"></fd-loading-spinner>
      <div *ngIf="notFound$ | async; else showResultList">
          No articles found.
      </div>
      <ng-template #showResultList>
        <p>search Result: {{totalCount$ | async}}</p>
      </ng-template>
      <div style="background-color: cadetblue"
        fdInfiniteScroll 
        (onScrollAction)="loadMore()" 
        [scrollPercent]="80" 
        style="height: 100%; overflow-y: scroll;">
        <kb-article-list [articles]="articles$ | async"></kb-article-list>
      </div>
    </ng-template>
  </div>

</div>