.infinite-scroll-area {
    height: -moz-calc(100vh - 170px);
    height: -webkit-calc(100vh - 170px);
    height: calc(100vh - 170px);
    overflow-y: auto;
}
.title-text{
    height: 16px;
    font-family: 72;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.container-view{
    background-color: white;
}