.infinite-scroll-area {
    height: -moz-calc(100vh - 110px);
    height: -webkit-calc(100vh - 110px);
    height: calc(100vh - 110px);
    overflow-y: auto;
}

.container-view {
    background-color: white;
}

.search-result p a {
    float: right;
}