.article-detail-footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    height: 47px;
    padding-left: 16px;
    background: #ffffff;
}

.article-detail-content {
    position: relative;
}

.article-detail-content::after {
    content: '';
    display: block;
    height: 47px;
    /* Set same as footer's height */
}

.article-back {
    /* width: 80%; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    color: #3d6ead;
}

.article-metadata {
    margin-left: 10px;
}