<fd-panel class="fd-has-padding-tiny">
    <div id="articleDetailHeaderContainer">
        <div class="article-actions-container">
            <div class="article-back">
                <button id="backBtn" fd-button [options]="'light'" [glyph]="'arrow-left'" (click)="onBackToSearchPage()"></button>
            </div>
            <div class="article-actions">
                <kb-article-actions [article]="article" [type]="'SearchedArticleList'"></kb-article-actions>
            </div>
        </div>

        <div class="fd-has-margin-tiny">
            <kb-detail-header [article]="article" [isDetailMode]="true"></kb-detail-header>
        </div>
    </div>

    <kb-detail-content [parentHeaderBarId]="'articleDetailHeaderContainer'" class="article-detail-content" [article]="article"></kb-detail-content>

    <fd-modal-footer class="fd-has-padding-top-tiny fd-has-padding-bottom-tiny article-detail-footer">
        <kb-detail-footer [article]="article"></kb-detail-footer>
    </fd-modal-footer>
</fd-panel>