<fd-panel class="fd-has-padding-tiny">
    <div id="articleDetailHeaderContainer">
        <kb-article-actions [article]="article$ | async" [actions]="articleActions"></kb-article-actions>
        <div class="fd-has-display-flex fd-has-align-items-center ">
            <span id="btnBack" class="fd-has-margin-left-tiny fd-has-float-right sap-icon--arrow-left sap-icon--m article-back fd-has-color-action-3" (click)="onBackToSearchPage()"></span>
        </div>

        <div class="fd-has-margin-tiny">
            <kb-detail-header [article]="article$ | async" [isDetailMode]="true"></kb-detail-header>
        </div>
    </div>

    <kb-detail-content [parentHeaderBarId]="'articleDetailHeaderContainer'" class="article-detail-content" [article]="article$ | async"></kb-detail-content>

    <fd-modal-footer class="fd-has-padding-top-tiny fd-has-padding-bottom-tiny article-detail-footer">
        <kb-detail-footer [article]="article$ | async"></kb-detail-footer>
    </fd-modal-footer>
</fd-panel>