<form class="config-form" [formGroup]="profileForm">

  <label fd-form-label>
    Provider Name:
    <input fd-form-control type="text" formControlName="providerType" disabled="true">
  </label>

  <label fd-form-label>
    Site URL:
    <input fd-form-control type="text" formControlName="siteURL" placeholder="https://">
  </label>

  <label fd-form-label>
    User:
    <input fd-form-control type="text" formControlName="user">
  </label>

  <label fd-form-label>
    Key:
    <input fd-form-control type="text" formControlName="key">
  </label>

  <label fd-form-label>
    Secret:
    <input fd-form-control type="text" formControlName="secret">
  </label>

  <p>Define data for establishing connection with the knowledge base adapter and knowledge base site.</p>
  <p><strong>Note:</strong>The authorization of the user given in the connection data should be limited to reading and
    searching knowledge articles</p>
</form>
