<div *ngIf="(suggestedArticlesIsInit$ | async) && !(suggestedArticlesBusy$ | async)">
    <p id="titleSuggestedArticles" class="fd-has-type-1 fd-has-color-text-1">Suggested Articles ({{suggestedAticlesTotalCount$ | async}})</p>
</div>
<fd-loading-spinner id="loadingSpinnerSuggestedArticles" [loading]="suggestedArticlesBusy$ | async"></fd-loading-spinner>
<div *ngIf="suggestedArticlesIsError$ | async; else showResultList">
    <p id="textSuggestedArticlesErrorMsg" class="fd-has-color-text-3 fd-has-type fd-has-margin-top-small">Currently, the provider’s system is temporarily unavailable, please try again later.</p>
</div>
<ng-template #showResultList>
    <div *ngFor="let article of (suggestedArticles$ | async)">
        <kb-article-item [article]="article" [type]="type"></kb-article-item>
    </div>
</ng-template>