<div *ngIf="isDetailMode">
    <span>
        <fd-icon id="iconShowViewCountDetail" [glyph]="'show'" [size]="'m'"></fd-icon>
        {{article.views}} | {{article.lastUpdated | date}}
    </span>
    <span id="textAuthorDetail" class="fd-has-margin-tiny">{{article.author}}</span>
</div>

<div *ngIf="!isDetailMode">
    <div class="fd-has-type-minus-1 fd-has-color-text-3 fd-has-margin-top-tiny">
        <fd-icon id="iconShowViewCountList" [glyph]="'show'" [size]="'s'"></fd-icon>
        {{article.views}} | {{article.lastUpdated | date}}
    </div>
    <div class="fd-has-type-minus-1 fd-has-color-text-1 fd-has-margin-top-tiny">
        <span id="textAuthorList" class="fd-has-color-text-3">Author:</span> {{article.author}}
    </div>
</div>