<div *ngIf="isDetailMode">
  <fd-icon [glyph]="'show'" [size]="'m'"></fd-icon>
  {{article.views}} | {{article.lastUpdated | date}} | {{article.author}}
</div>

<div *ngIf="!isDetailMode">
  <div class="detail-show">
    <fd-icon  [glyph]="'show'" [size]="'s'"></fd-icon>
    {{article.views}} | {{article.lastUpdated | date}}
  </div>
  <div class="detail-author">
      <span>Author:</span> 
      {{article.author}}
  </div>
  <div class="detail-content">
    {{article.content}}
  </div>
</div>


<!-- <fd-modal-header class="fd-has-padding-bottom-tiny" *ngIf="isDetailMode">
  <div>
    {{article.views}} | {{article.lastUpdated | date}} | {{article.author}}
  </div>
  <button fd-modal-close-btn (click)="handleMoreAction($event)"></button>
</fd-modal-header>

<div *ngIf="!isDetailMode" class="fd-has-padding-top-tiny">
  <div class="fd-has-padding-top-tiny">
    {{article.views}} | {{article.lastUpdated | date}}
  </div>
  <div class="fd-has-padding-top-tiny">
    Author: {{article.author}}
  </div>
</div> -->