<div *ngIf="isDetailMode">
    <span>
        <fd-icon id="iconShowViewCountDetail" [glyph]="'show'" [size]="'m'"></fd-icon>
        {{article.views}} | {{article.lastUpdated | date}}
    </span>
    <span id="textAuthorDetail" class="fd-has-margin-tiny">{{article.author}}</span>
</div>

<div *ngIf="!isDetailMode">
    <div class="detail-show">
        <fd-icon id="iconShowViewCountList" [glyph]="'show'" [size]="'s'"></fd-icon>
        {{article.views}} | {{article.lastUpdated | date}}
    </div>
    <div class="detail-author">
        <span id="textAuthorList">Author:</span> {{article.author}}
    </div>
</div>