/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/styles/daypilot-custom-theme.css";

body {
  margin: 0;
  font-family: Roboto,Helvetica Neue,sans-serif;
  color: rgba(0,0,0,.87);
}

.main-container fd-tab-list .fd-tabs {
  border-bottom: 1px solid #ccc;
}
