<div class="config-action">
  <button fd-button [options]="'light'" (click)="onCancel()">Cancel</button>
  <button fd-button [options]="'emphasized'" (click)="onSave()">Save</button>
</div>

<div class="config-body">
  <div class="config-header">
    <fd-loading-spinner [loading]="!(isGeneralConfigReady$ | async)"></fd-loading-spinner>
    <div *ngIf="isGeneralConfigReady$ | async">
      <span class="fd-has-margin-left-small"> Enable Knowledge Component</span>
      <fd-toggle class="config-header-toggle" [size]="'s'" [checked]="isEnable$ | async"
        (checkedChange)="isGeneralEnableChange()">
      </fd-toggle>
    </div>
  </div>
  <div class="config-content" [hidden]="!(isEnable$ | async)">
    <fd-loading-spinner [loading]="!(isAllProviderConfigReady$ | async)"></fd-loading-spinner>
    <div *ngIf="isAllProviderConfigReady$ | async">
      <div class="config-side-nav">
        <nav class="fd-side-nav">
          <ul class="fd-side-nav__list">
            <li *ngFor="let ProviderConfig of (allProviderConfig$ | async); let ProviderConfigIndex = index"
              class="fd-side-nav__item config-side-item">
              <a class="fd-has-type-1 fd-has-color-text-1 fd-side-nav__link" (click)="onSelect(ProviderConfigIndex)"
                [ngClass]="{'is-selected': ProviderConfigIndex == (selectedProviderConfigIndex$ | async)}">
                {{ProviderConfig.providerType}}
                <fd-toggle class="config-toggle" [size]="'s'" [checked]="ProviderConfig.isActive"
                  (checkedChange)="isSelectedProviderConfigActiveChange(ProviderConfigIndex)"></fd-toggle>
              </a>
            </li>
          </ul>
        </nav>
        <div class="config-side-icon">
          <span class=""
            [ngClass]="['fd-has-margin-left-small','fd-has-float-right','sap-icon--m','icon-container', 'sap-icon--delete']"></span>
          <span class=""
            [ngClass]="['fd-has-margin-left-small','fd-has-float-right','sap-icon--m','icon-container', 'sap-icon--add']"></span>
        </div>

      </div>
      <div id="mindtouch" class="config-item-content">
        <kb-config-form [providerConfig]="(allProviderConfig$ | async)[selectedProviderConfigIndex$ | async]">
        </kb-config-form>
      </div>
    </div>
  </div>


</div>
