.article-container{
    display: flex;
    align-items: center;
}
.article-link{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 80%;
}
.action-container{
    width: 20%;
}
.action-container button{
    float: right;
}
.title-text{
    height: 16px;
    font-family: 72;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.error-content {
    font-family: 72;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}