.article-container{
    display: flex;
    align-items: center;
}
.article-link{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 80%;
}
.action-container{
    width: 20%;
}
.action-container button{
    float: right;
}